.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  position: relative;
  .header{
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    width: 300px;
    position: fixed;
    &__name{
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists{
      display: inline-block;
      float: right;
      .list{
        display: inline-block;
      }
      .icon{
        color: $white;
        font-size: $side_header_font;
      }
    }
  }
  .groups{
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    width: 300px;
    padding: 0 20px;
    position: fixed;
    top: 100px;
    .group{
      &__name{
        padding-top: 20px;
        font-size: $side_group_name;
      }
      &__message{
        padding: 5px 0 20px;
        font-size: $side_group_message;
      }
    }
  }
}